<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= JSON.stringify(user.skills) %>
    <form action="/assign-spells" method="post">
        name: <input type="text" name="name" id="" required><br>
        assigned slot: <input type="number" name="assigned" id="" required><br>
        <input hidden type="text" value="<%= user.uuid %>" name="uuid" id="" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>