<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body, html{
         padding: 0;
         margin: 0;
        }
        .container{
            width: 1000px;
            margin: auto;
            display: block;
            box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
  100px 100px 80px rgba(0, 0, 0, 0.02)
;
background-color: rgb(255, 241, 193);
        }
        .news-image{
            width: 200px;
            max-width: 90%;
            display: inline-block;
            margin: auto;
            padding: 20px;
        }
        .news-paragraph{
            /* width: 50%;
            display: inline-block; */
            text-align: justify;
            padding: 20px;
        }
        .float-image{
            float: left;
        }
        .float-none{
            float: none;
        }
        section{
            margin-top: 10vh;
            padding: 20px;
        }
        h1{
            text-align: center;
        }
    </style>
    <div class="container">
        <% data.forEach(e => {  %>
            <section>
            <h1><%= e[0] %></h1>
            <hr>
            <div class="float-image"><img class="news-image" src="<%= e[3] %>" alt=""></div>
            <% const paragraph = e[1].replace(/\n/g, '<br>') %>
            <div class="float-none"><p class="news-paragraph"><%- paragraph %></p></div>
        </section>
        <% }); %>
    </div>
    
</body>
</html>