<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_spell" method="post">
        name: <input type="text" name="name" id="" required><br>
        description: <input type="text" name="desc" id=""><br>
        image: <input type="text" name="image" id=""><br>
        <br>
        casting sound (uuid): <input value="1298b3e8-b247-4305-8cc2-968e24741ced" type="text" name="cast_sound" id=""><br>
        hit sound (uuid): <input type="text" name="hit_sound" value="1298b3e8-b247-4305-8cc2-968e24741ced" id=""><br>
        <br>
        Casting animation: <input type="text" name="cast_animation" id=""><br>
        Hit animation: <input value="AD_Front_Impact_13" type="text" name="hit_animation" id=""><br>
        Summon item: <input value="" type="text" name="summon_item" id=""><br>
        Summon time: <input value="" type="text" name="summon_time" id=""><br>
        Summon range: <input value="" type="text" name="summon_range" id=""><br>
        Summon dot: <input value="" type="text" name="summon_dot" id=""><br>
       
        <br>
        type: <select name="type" id=""  value="attack">
            <option value="attack">attack</option>
            <option value="buff">buff</option>
            <option value="other">other</option>
        </select><br>
        target: <select name="target" id=""  value="either">
            <option value="either">either</option>
            <option value="self">self</option>
            <option value="non_self">non_self</option>
        </select><br>
        scope: <select name="scope" id=""  value="single">
            <option value="single">single</option>
            <option value="other">other</option>
            <option value="aoe">aoe</option>
            <option value="summon">summon</option>
        </select><br>
        effect: <select name="effect" id=""  value="none">
            <option value="none">none</option>
            <option value="speed">speed</option>
            <option value="dispell">dispell</option>
            <option value="slow">slow</option>
            <option value="silence">silence</option>
            <option value="first_blood">first_blood</option>
            <option value="execute">execute</option>
            <option value="invisible">invisible</option>
            <option value="dodge">dodge</option>
            <option value="death_wish">death_wish</option>
            <option value="rabid">rabid</option>
            <option value="taunt">taunt</option>
            <option value="bone_shield">bone_shield</option>
            <option value="sticky_fingers">sticky_fingers</option>
            <option value="shared_suffering">shared_suffering</option>
            <option value="hysteria">hysteria</option>
        </select><br>
        <br>
        damage: <input value="0" type="text" name="damage" id="" ><br>
        self damage: <input value="0" type="text" name="cdamage" id="" ><br>
        cost: <input value="0" type="text" name="cost" id="" ><br>
        ap damage: <input value="0" type="text" name="tcost" id="" ><br>
        crit: <input value="0" type="text" name="crit" id="" ><br>
        duration: (time per timer or duration of AOE attacks) <input value="0" type="number" name="duration" id="" ><br>
        ticks: (times that timer starts again for DOTS/HOTS) <input value="0" type="number" name="ticks" id="" ><br>
        AOE FREQ: (time between each attack) <input value="0" type="number" name="freq" id="" ><br>
        range: <input value="0" type="text" name="range" id="" ><br>
        cooldown: <input value="0" type="text" name="cooldown" id="" ><br>
        <br>
        buff_power: <input value="1" type="text" name="buff_power" id="" ><br>
        buff_crit: <input value="1" type="text" name="buff_crit" id="" ><br>
        buff_range: <input value="1" type="text" name="buff_range" id="" ><br>
        buff_duration: <input value="1" type="text" name="buff_duration" id="" ><br>
        buff_cost: <input value="1" type="text" name="buff_cost" id="" ><br>
        buff_cooldown: <input value="1" type="text" name="buff_cooldown" id="" ><br>
        buff_ecto_max: <input value="1" type="text" name="buff_ecto_max" id="" ><br>
        buff_ap_max: <input value="1" type="text" name="buff_ap_max" id="" ><br>
        buff_impulse: <input value="1" type="text" name="buff_impulse" id="" ><br>
        buff_resistance: <input value="1" type="text" name="buff_resistance" id="" ><br>
        buff_reflected: <input value="1" type="text" name="buff_reflected" id="" ><br>

<br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>